<%- model_class = Post -%>
<div class="page-header">
  <% if current_user != @user %>
    <h2><%= @user.email.to_s + '\'s posts' %></h2>
  <% else %>
    <h2><%= 'Your posts' %></h2>
  <% end %>
  <% if current_user.following.include?(@user) %>
    <%= link_to "Un-follow", unfollow_user_follows_path(:user_id => @user.id), :class => 'btn btn-success btn-xs' %>
  <% elsif current_user != @user%>
    <%= link_to "Follow", follow_user_follows_path(:user_id => @user.id), :class => 'btn btn-success btn-xs' %>
  <% end %>
</div>

<% if @user.nil? || current_user == @user %>
  <%= render :partial => 'form' %>
<% end %>

<%= render :partial => 'show_posts' %>
 